[Unit]
Description=Run DB2 Setup Script
After=network.target

[Service]
Type=oneshot
ExecStart=sh -c /root/db2_setup.sh
RemainAfterExit=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target