<!--
# -----------------------------------------------------------------------------
# File        : ctlabs/views/config.erb
# Description : configuration view
# License     : MIT License
# -----------------------------------------------------------------------------
-->

<%= HEADER %>
    <div id="config" class="w3-panel w3-green">
      <h2>⚙️  Lab Configuration </h2>
    </div>
    <div class="w3-container">
      <div class="w3-container w3-card-4 w3-2021-inkwell" style="max-width: 100%; max-height: 100%; overflow: auto;">
        <pre><code class="language-yaml"><%= File.file?(CONFIG) ? ERB::Util.h(File.read(CONFIG)) : "Error: No Configuration found!" %></code></pre>
      </div>
    </div>
<%= FOOTER %>
