<!--
# -----------------------------------------------------------------------------
# File        : ctlabs/views/markdown.erb
# Description : markdown view
# License     : MIT License
# -----------------------------------------------------------------------------
-->

<%= HEADER %>
    <div id="config" class="w3-panel w3-green">
      <h2> Markdown </h2>
    </div>
    <div class="w3-container w3-margin">
      <div class="w3-card-4 w3-bar w3-round-large">
        <header class="w3-container w3-bar w3-dark-grey w3-padding">
          <span class="w3-badge w3-red w3-circle w3-small w3-text-red">&nbsp;</span>
          <span class="w3-text-dark-grey">&nbsp;</span>
          <span class="w3-badge w3-yellow w3-circle w3-small w3-text-yellow">&nbsp;</span>
          <span class="w3-text-dark-grey">&nbsp;</span>
          <span class="w3-badge w3-green w3-circle w3-small w3-text-green">&nbsp;</span>
        </header>
        <div class="w3-container w3-bar w3-2021-inkwell" style="max-width: 100%; max-height: 100%; overflow: auto;">
        <%= Kramdown::Document.new(File.read("/srv/ctlabs-server/public/ex.md"), input: 'GFM').to_html %>
        </div>
      </div>
    </div>
<%= FOOTER %>
