<!--
# -----------------------------------------------------------------------------
# File        : ctlabs/views/topo.erb
# Description : topology view
# License     : MIT License
# -----------------------------------------------------------------------------
-->

<%= HEADER %>
    <div id="topo" class="w3-panel w3-green">
      <h2>🗺️ Topology [Data Network]</h2>
    </div>
    <div class="w3-card-4" style="max-width: 100%; overflow: auto; position: relative;">
      <div class="w3-panel w3-text-yellow" display: flex; flex-direction: column;>
        <input type="range" min="50" max="200" value="100" step="5" class="zoom-slider" data-embed-id="topo-embed">
        <span>Zoom: <strong><span id="zoom-value-topo">100</span>%</strong></span>
      </div>
      <div class="svg-container">
        <embed id="topo-embed" src="topo.svg" class="w3-round responsive-embed" alt="🗺 Topology" type="image/svg+xml" width="100%">
      </div>
    </div>
    <div id="mgmt_topo" class="w3-panel w3-green">
      <h2>🗺️ Topology [Management Network]</h2>
    </div>
    <div class="w3-card-4" style="max-width: 100%; overflow: auto; position: relative;">
      <div class="w3-panel w3-text-yellow" display: flex; flex-direction: column;>
        <input type="range" min="50" max="200" value="100" step="5" class="zoom-slider" data-embed-id="mgmt-topo-embed">
        <span>Zoom: <strong><span id="zoom-value-mgmt-topo">100</span>%</strong></span>
      </div>
      <div class="svg-container">
        <embed id="mgmt-topo-embed" src="mgmt_topo.svg" class="w3-round responsive-embed" alt="Management" type="image/svg+xml" width="100%">
      </div>
    </div>
<%= SCRIPT %>
<%= FOOTER %>
