[Unit]
Description=Start QEMU
After=network.target

[Service]
Type=oneshot
ExecStart=/root/qemu_init.sh
RemainAfterExit=true
ExecStop=/root/if-down && /bin/kill "$MAINPID"
#ExecStop=/root/qemu_init.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
