[Unit]
Description=ctlabs-server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/root/ctlabs/ctlabs
ExecStart=/root/ctlabs/ctlabs/server.rb

[Install]
WantedBy=multi-user.target
